@page "/input"

<h3>Input Components</h3>

<div class="row">
	<Input Label="Dropdown Input" Type="InputTypes.Dropdown">
		<Content>
			@foreach(var item in _dropdownItems)
			{
				<option>@item</option>
			}
		</Content>
	</Input>
</div>

@*<div class="row">
	<Input Label="Radio Button" Type="InputTypes.Radio" Name="radio_button" />
</div>

<div class="row">
	<Input Label="Checkbox Input" Type="InputTypes.CheckBox" Name="checkbox" />
</div>

<div class="row">
	<Input Label="Text Input" />
</div>*@

<div class="row">
	<Input Label="Number Input" Type="InputTypes.Number" />
</div>

@code {
	private IEnumerable<string> _dropdownItems;

	protected override async Task OnParametersSetAsync()
	{
		_dropdownItems = new List<string>
		{
			"Item 1",
			"Item 2"
		};

		await base.OnParametersSetAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
	}
}
